<!DOCTYPE html>
<html>
    <head>
        <title>Websocket</title>
    </head>
    <body>
        <h1>WebSocket</h1>
        <h2>Subscribe to the author: {{ author_name }}</h2>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>
        <script>

<!--            var client_id = Date.now()-->
<!--            document.querySelector("#ws-id").textContent = client_id;-->
<!--            var ws = new WebSocket(`ws://localhost:8000/ws/${client_id}`);-->

            var ws = new WebSocket(`ws://localhost:8000/ws/{{ author_name }}/{{ token_connect}}`);
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>